<h1 style="color: green; text-align: center">Smartphone Data Cleaning & Transformation </h1>
<hr width: 5px>
<h3>‚úç written by : </h3>
<p><b>Maghouti</b> Aymane <br><b></b> Data engineering Student at the national school of applied sciences of alhociema <b>ENSAH</b></p>
<p style="text-align: right;"><b>23-fev | <span style="color: red;">2024</span></b></p>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('raw_data/jumia_mobile_phone.csv')

In [6]:
df.head()

,Unnamed: 0,brand,model_name,screen_size,ram,rom,cams,sim_type,battary,current_price,previous_price,sale_percentage,product_rating,seller_name,seller_score,seller_followers,Reviews
0,0,Oppo,A17k,6.56,3.0,64.0,NaN,Dual,0.0,63.0,952.0,0.0,4.1,Gaff Electronics Kenya,94%,165,"[ (5 out of 5) I like it ], [ (1 out of 5) bad..."
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Oppo,A17k,6.56,3.0,64.0,NaN,Dual,0.0,63.0,952.0,0.0,4.7,Gaff Electronics Kenya,94%,165,"[ (5 out of 5) I like it ], [ (5 out of 5) gre..."

In [5]:
df.shape

(1957, 17)

In [6]:
df.isna().sum()

Unnamed: 0             0
brand               1432
model_name          1432
screen_size         1464
ram                 1474
rom                 1474
cams                1519
sim_type            1432
battary             1440
current_price       1432
previous_price      1432
sale_percentage     1432
product_rating      1432
seller_name         1432
seller_score        1432
seller_followers    1432
Reviews             1432
dtype: int64

### drop the NA value

In [7]:
df=df.dropna()

In [8]:
df.isna().sum()

Unnamed: 0          0
brand               0
model_name          0
screen_size         0
ram                 0
rom                 0
cams                0
sim_type            0
battary             0
current_price       0
previous_price      0
sale_percentage     0
product_rating      0
seller_name         0
seller_score        0
seller_followers    0
Reviews             0
dtype: int64

In [9]:
df['brand'].unique()

array(['Tecno', 'Infinix', 'XIAOMI', 'Freeyond', 'Maxfone', 'Huawei',
       'Nokia', 'Samsung', 'Oppo', 'Sowhat', 'Realme', 'Apple', 'Vivo',
       'Gionee'], dtype=object)

In [10]:
df.shape

(389, 17)

In [11]:
df.duplicated().sum()

0

In [13]:
df.head()

,Unnamed: 0,brand,model_name,screen_size,ram,rom,cams,sim_type,battary,current_price,previous_price,sale_percentage,product_rating,seller_name,seller_score,seller_followers,Reviews
9,9,Tecno,Spark 10 Pro,6.8,8.0,128.0,50MP + 2MP + 32MP,Dual,5000.0,104.0,2720.0,43%,4.4,Minestar,86%,1002,No reviews
12,12,Infinix,Hot 30 Play,6.82,8.0,128.0,16MP + 8MP,Dual,6000.0,81.0,1564.0,22%,4.7,Tech Traders,86%,722,"[ (5 out of 5) GOOD ], [ (5 out of 5) I like i..."
13,13,XIAOMI,Redmi A2,6.52,3.0,64.0,8MP + 5MP,Dual,5000.0,52.0,1088.0,28%,3.8,Xiaomi Ecco World - AC,80%,36,"[ (5 out of 5) I like it ], [ (4 out of 5) I l..."
16,16,Tecno,Spark 10C,6.6,4.0,128.0,16MP + 8MP,Dual,5000.0,77.0,1768.0,35%,4.8,Minestar,86%,1002,"[ (5 out of 5) It's a good product ], [ (4 out..."
19,19,Infinix,Smart 7 HD,6.6,2.0,64.0,8MP + 5MP,Dual,5000.0,50.0,1020.0,27%,4.3,Tech Traders,86%,722,"[ (5 out of 5) I like it ], [ (5 out of 5) Goo..."

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389 entries, 9 to 1953
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        389 non-null    int64
 1   brand             389 non-null    object
 2   model_name        389 non-null    object
 3   screen_size       389 non-null    object
 4   ram               389 non-null    float64
 5   rom               389 non-null    float64
 6   cams              389 non-null    object
 7   sim_type          389 non-null    object
 8   battary           389 non-null    float64
 9   current_price     389 non-null    float64
 10  previous_price    389 non-null    float64
 11  sale_percentage   389 non-null    object
 12  product_rating    389 non-null    float64
 13  seller_name       389 non-null    object
 14  seller_score      389 non-null    object
 15  seller_followers  389 non-null    object
 16  Reviews           389 non-null    object
dtypes: float64(6), int64(1), object(10)
memory usage: 54.7+ KB

### Convert the type of some features to numeric type

In [14]:
df = df[df['screen_size'].apply(lambda x: x.isnumeric() or x.replace('.', '').isnumeric())]

In [16]:
df['screen_size'] = pd.to_numeric(df['screen_size'])
df['ram']=pd.to_numeric(df['ram'])
df['rom']=pd.to_numeric(df['rom'])
df['battary']=pd.to_numeric(df['battary'])
df['previous_price']=pd.to_numeric(df['previous_price'])
df['current_price']=pd.to_numeric(df['current_price'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388 entries, 9 to 1953
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        388 non-null    int64
 1   brand             388 non-null    object
 2   model_name        388 non-null    object
 3   screen_size       388 non-null    float64
 4   ram               388 non-null    float64
 5   rom               388 non-null    float64
 6   cams              388 non-null    object
 7   sim_type          388 non-null    object
 8   battary           388 non-null    float64
 9   current_price     388 non-null    float64
 10  previous_price    388 non-null    float64
 11  sale_percentage   388 non-null    object
 12  product_rating    388 non-null    float64
 13  seller_name       388 non-null    object
 14  seller_score      388 non-null    object
 15  seller_followers  388 non-null    object
 16  Reviews           388 non-null    object
dtypes: float64(7), int64(1), object(9)
memory usage: 54.6+ KB

In [18]:
df.head()

,Unnamed: 0,brand,model_name,screen_size,ram,rom,cams,sim_type,battary,current_price,previous_price,sale_percentage,product_rating,seller_name,seller_score,seller_followers,Reviews
9,9,Tecno,Spark 10 Pro,6.80,8.0,128.0,50MP + 2MP + 32MP,Dual,5000.0,104.0,2720.0,43%,4.4,Minestar,86%,1002,No reviews
12,12,Infinix,Hot 30 Play,6.82,8.0,128.0,16MP + 8MP,Dual,6000.0,81.0,1564.0,22%,4.7,Tech Traders,86%,722,"[ (5 out of 5) GOOD ], [ (5 out of 5) I like i..."
13,13,XIAOMI,Redmi A2,6.52,3.0,64.0,8MP + 5MP,Dual,5000.0,52.0,1088.0,28%,3.8,Xiaomi Ecco World - AC,80%,36,"[ (5 out of 5) I like it ], [ (4 out of 5) I l..."
16,16,Tecno,Spark 10C,6.60,4.0,128.0,16MP + 8MP,Dual,5000.0,77.0,1768.0,35%,4.8,Minestar,86%,1002,"[ (5 out of 5) It's a good product ], [ (4 out..."
19,19,Infinix,Smart 7 HD,6.60,2.0,64.0,8MP + 5MP,Dual,5000.0,50.0,1020.0,27%,4.3,Tech Traders,86%,722,"[ (5 out of 5) I like it ], [ (5 out of 5) Goo..."

In [19]:
data = pd.DataFrame(df[['brand','screen_size','ram','rom','sim_type','battary','previous_price','current_price']])

In [20]:
data.head()

,brand,screen_size,ram,rom,sim_type,battary,previous_price,current_price
9,Tecno,6.80,8.0,128.0,Dual,5000.0,2720.0,104.0
12,Infinix,6.82,8.0,128.0,Dual,6000.0,1564.0,81.0
13,XIAOMI,6.52,3.0,64.0,Dual,5000.0,1088.0,52.0
16,Tecno,6.60,4.0,128.0,Dual,5000.0,1768.0,77.0
19,Infinix,6.60,2.0,64.0,Dual,5000.0,1020.0,50.0

In [21]:
data.shape

(388, 8)

### Adding a Mean Price Column

In [22]:
data['price'] = (data['current_price'] + data['previous_price']) / 2

In [23]:
data.head()

,brand,screen_size,ram,rom,sim_type,battary,previous_price,current_price,price
9,Tecno,6.80,8.0,128.0,Dual,5000.0,2720.0,104.0,1412.0
12,Infinix,6.82,8.0,128.0,Dual,6000.0,1564.0,81.0,822.5
13,XIAOMI,6.52,3.0,64.0,Dual,5000.0,1088.0,52.0,570.0
16,Tecno,6.60,4.0,128.0,Dual,5000.0,1768.0,77.0,922.5
19,Infinix,6.60,2.0,64.0,Dual,5000.0,1020.0,50.0,535.0

In [24]:
data = pd.DataFrame(data[['brand','screen_size','ram','rom','sim_type','battary','price']])

In [25]:
data.head()

      brand  screen_size  ram    rom sim_type  battary   price
9     Tecno         6.80  8.0  128.0     Dual   5000.0  1412.0
12  Infinix         6.82  8.0  128.0     Dual   6000.0   822.5
13   XIAOMI         6.52  3.0   64.0     Dual   5000.0   570.0
16    Tecno         6.60  4.0  128.0     Dual   5000.0   922.5
19  Infinix         6.60  2.0   64.0     Dual   5000.0   535.0

### save the dataframe as csv file

In [ ]:
data.to_csv("cleaned_data/smartphone_Data.csv")